@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;400;500&display=swap");

/* Fonts */
$font-stack: "Inter", sans-serif;

/* Colours */
$text-accent: #f47d27;
$background-main: #f5f5f5;
$background-dark: #d5d4d8;
$font-heading: #2b283a;
$font-main: #4a4e74;
